@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Permanent+Marker&family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Nerko+One&family=Permanent+Marker&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: px solid;
}

body {
    height: 1000vh;
    background-color: rgb(70, 70, 74);
}

/*-----=  SETING  =-------*/
/*--- animation ---*/
@keyframes animation-blur {
    from {
        filter: blur(10px);
    }
    to {
        filter:  blur(0px);
    }
}
@keyframes animation-zoom-out {
    from { 
        filter: blur(8px);
        opacity: 0;
        scale: 0.5;
    }
    to {
        filter: blur(0px);
        opacity: 1;
        scale: 1;
    }
}

/*-----= END SETING =------*/


/*-----= CONTENT =_-------*/
/*-----= CONTENT / SCROLL_SHOW =------*/
/*-----=_-SETING-_=------*/
.content .scroll-show {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;

    animation: animation-blur 0.5s linear;
}
.content .scroll-show .container {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: 1/1;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
     /* For Firefox */

    width: 100%;
    height: 100vh;
}
.content .scroll-show .container::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: transparent;
}
.content .scroll-show .container::-webkit-scrollbar-thumb {
    background-color: rgb(61, 155, 255);
}

.arrow {
    position: absolute;
    z-index: 10;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    font-weight: 400;

    color: #3498db;
    cursor: pointer;
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}
.arrow i {
    font-size: 30px;

}
.left-arrow {
    left: 0;
}
.right-arrow {
    right: 0;
}
/* Dots container */
.content .scroll-show .dots {
    position: absolute;
    bottom: 20px;


    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;

    padding: 10px;
    width: 100%;
    height: auto;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content .scroll-show .dot.active {
    background-color: #3498db;
}


.content .scroll-show .container .box { 
   animation: animation-blur 0.3slinear;
    animation-timeline: view();


    scroll-snap-align: start;
    display:  flex;
    align-items: center;

    width: 100%;
    min-width: 200px;
    height: 100%;
}

/*-----=_- MAIN -_=----*/
@keyframes decoration-rotate {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(450deg);
    }
}
/*--- BOX_1 ---*/

.content .scroll-show .container .box-1::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    opacity: 0.3;
    filter: blur(3px);
    background-image: url(../../image/home/background-2.jpg);
}
.content .scroll-show .container .box-1 {
    position: relative;

    display: flex;
    justify-content: center;

}
.content .scroll-show .container .box-1 .item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 810px;
    min-height: 200px;
}
.content .scroll-show .container .box-1 .item-1 .title {
    text-align: center;
    max-height: 200px;
    padding: 4px;
}
.content .scroll-show .container .box-1 .item-1 .title span {
    font-family: 'Silkscreen', sans-serif;
    font-size: 27px;
    color: rgb(94, 147, 255);

    margin-bottom: 10px ;
}

.content .scroll-show .container .box-1 .item-1 .text {
    flex: 1;
    text-align: center;

    font-family: monospace;
    font-size: 18px;

    color: white;
    max-width: 600px;
    padding: 0 5px;
    margin: 10px 0 20px 0;
}
.content .scroll-show .container .box-1 .item-1 .box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: 80px;

}
.content .scroll-show .container .box-1 .item-1 .box-button .item {
    position: relative;
    max-height: 50px;
    height: ;
    padding: 3px;
    border: px solid;
    border-radius:  0 20px 0 20px;
    overflow: hidden;
}
.content .scroll-show .container .box-1 .item-1 .box-button .item::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;

    height: 60%;
    width: 120%;

    transform: rotate(90deg) ;

    background-color: rgb(65, 136, 241);
    filter: blur(4px);

    animation: decoration-rotate 2s 0.5s linear infinite;
}

.content .scroll-show .container .box-1 .item-1 .box-button button:nth-child(1) {
    color: white;
    
    padding: 10px;
    width: 100%;
    height: 100%;
    background:rgb(83, 85, 88);
    border: 0px solid rgb(58, 143, 255);
    outline: 0;
    border-radius:  0 20px 0 20px;
    outline: 0;
}
.content .scroll-show .container .box-1 .item-1 .box-button button:nth-child(1):hover {

    background-color:rgb(49, 138, 255) ;
   
}

/*----- BOX_2 ------*/

.content .scroll-show .container .box-2 {
    position: relative;

    display: flex;
    justify-content: center;

}
.content .scroll-show .container .box-2::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: blur(3px);
    background-image: url(../../image/home/background-2.jfif);
    background-size: cover;
}

.content .scroll-show .container .box-2 .item-1 {
    gap: 20px;
    max-width: 600px ;
}
.content .scroll-show .container .box-2 .item-1 .title {
    text-align: center;

    font-size: 26px;
    font-family:'Silkscreen';
    color: rgb(94, 147, 255);

}

.content .scroll-show .container .box-2 .item-1 .box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    min-height: 80px;
    border: px solid;
}
.content .scroll-show .container .box-2 .item-1 .box-button .item{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 20%;
    height: 30px;
    background:rgb(62, 64, 77);
    padding: 2px;
    border: px solid;
    outline: 0;

}
.content .scroll-show .container .box-2 .item-1 .box-button .item button {
    position: relative;


    display: flex;
    align-items: center;
    gap: 5px;

    color: white;

    width: 100%;
    height: 100%;
    background:rgb(62, 64, 77);
    padding: 0 5px;
    border: 0;
    outline: 0;
}

.content .scroll-show .container .box-2 .item-1 .box-button .item button::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 2px;
    left: 2px;

    width: 102%;
    height: 30px;
    background-color: rgb(84, 137, 243);
}
.content .scroll-show .container .box-2 .item-1 .box-button .item button::after {
    content: "";
    z-index: -1;
    position: absolute;
    
    width: 30px;
    height: 100%

}
/*----- [END] SCROLL-SHOW -----*/



.content .container-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(62, 64, 71);
}

.content .container-1 .box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15%;
}
.content .container-1 .box-1 h1{
    animation: animation-zoom-out linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;

    font-family: sans-serif;
    color: rgb(192, 192, 192);
}

.content .container-1 .box-2 {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}
.content .container-1 .box-2 .radio-group {
    align-self: center;
    display: flex;
    gap: 10px;

    width: auto;
    height: 40px;
}
.content .container-1 .box-2 .radio-group input {
    display: none;
}
.content .container-1 .box-2 .radio-group label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 17px;
    color: rgb(129, 129, 129);

    width: 60px;
    height: 40px;
}
.content .container-1 .box-2 .radio-group input:checked + .radio-label {
    border-bottom: 4px solid rgb(0, 162, 255);
    color: white;
}


.content .container-1 .box-2 .content-group {

    margin: 10px ;
    width: auto;
    height: 75%;
    border: 1px solid;
}



.content .container-1 .box-2 .content-group {
    border: px solid white;
    margin: 10px ;
    width: auto;
    height: 80%;
    border-radius: 20px;
}

.content .container-1 .box-2 .content-group .group{
    display: grid;
    grid-template-columns: repeat(4, 33%);
    align-items: center;
    gap: 5px;


    padding:0 15px;
    width: 100%;
    height: 80vh;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-align: start;
}
.content .container-1 .box-2 .content-group .group::-webkit-scrollbar {
    height: 3px;
}
.content .container-1 .box-2 .content-group .group::-webkit-scrollbar-thumb {
    background-color: rgb(70, 110, 221);
}

.content .container-1 .box-2 .content-group .group .item{
    display: flex;
    flex-direction: column;

    padding: 20px 20px;
    padding-left: 40px;
    width: 290px;
    height: 85%;
    background-color: rgb(57, 58, 61);
    border: px solid;
    border-radius: 10px;
}
.content .container-1 .box-2 .content-group .group .item:hover{
    scale: 1.1;
    border: 1px solid white;
}
.content .container-1 .box-2 .content-group .group .item span {
    font-size: 23px;
    font-family: sans-serif;
    color: white;

    margin-bottom: px;

}
.content .container-1 .box-2 .content-group .group .item p {
    font-size: 17px;
    font-family:sans-serif;
    color: gray;

    margin: 10px 0;
    margin-bottom: 20px;
}
.content .container-1 .box-2 .content-group .group .item ul {
    list-style: none;
    flex: 1;
}
.content .container-1 .box-2 .content-group .group .item ul li {
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(97, 97, 97);

    margin-bottom: 13px;
}
.content .container-1 .box-2 .content-group .group .item a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: sans-serif;
    color: white;

    height: 30px;
    width: 80px;
    background: linear-gradient(45deg,rgb(63, 128, 226) ,rgb(48, 83, 179),rgb(69, 70, 80));
    border-radius: 0 10px 0 0;
}


.content .container-1 .box-2 .content-group .group-2 {
    display: none;
}

/*--- MEDIA ---*/
@media (max-width: 1002px){
    .content .container-1 .box-2 .content-group .group{
        grid-template-columns: repeat(4, 92%);
    }
}

@media (max-width: 800px){
    .content .scroll-show .arrow {
        display: none;
    }

    .content .scroll-show .container .box .item-1 {
        padding: 3px;
    }
    .content .scroll-show .container .box .item-1 .title{
        text-align: center;
        border: 1px solid;
    }
    .content .scroll-show .container .box .item-1 .title span{
       
       font-size: 32px;
    }
    .content .scroll-show .container .box .item-1 .title i{
        display: none;
    }
    .content .scroll-show .container .box .item-1 .box-button {
        justify-content: start;
        padding: 5px;
    }
    .content .scroll-show .container .box .item-1 .box-button .item{
        height: 50px;
    }
}
@media (max-width:500px){
    .content .scroll-show .container .box-1 {
        justify-content: start;
    }
    .content .scroll-show .container .box-1 .item-1 {
        align-items: start;
    }

    .content .scroll-show .container .box .item .title {
        text-align: start;
    }
    .content .scroll-show .container .box .item-1 .title span{
       margin: 0;
       font-size: 20px;
    }

    .content .scroll-show .container .box .item-1 .text p{
        font-size: 16px;
        text-align: start;

        padding: 3px;
    }
}
