@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Permanent+Marker&family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Nerko+One&family=Permanent+Marker&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1000vh;
    background-color: rgb(70, 70, 74);
}
/*-----= CONTENT =_-------*/

/*-----= CONTENT / SCROLL_SHOW =------*/
/*-----=_-SETING-_=------*/
.content .scroll-show {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}
.content .scroll-show .container {
    display: grid;
    grid-template-columns: repeat(8, 100%);
    grid-template-rows: 1/2;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
     /* For Firefox */

    width: 100%;
    height: 100vh;
}
.content .scroll-show .container::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: transparent;
}
.content .scroll-show .container::-webkit-scrollbar-thumb {
    background-color: rgb(61, 155, 255);
}

.arrow {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    font-weight: 400;

    color: #3498db;
    cursor: pointer;
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}
.arrow i {
    font-size: 30px;
}
.left-arrow {
    left: 0;
}
.right-arrow {
    right: 0;
}
/* Dots container */
.content .scroll-show .dots {
    position: absolute;
    bottom: 20px;


    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;

    padding: 10px;
    width: 100%;
    height: auto;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content .scroll-show .dot.active {
    background-color: #3498db;
}


.content .scroll-show .container .box {
    scroll-snap-align: start;
    display:  flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

/*-----=_- MAIN -_=----*/
/*--- BOX_1 ---*/
.content .scroll-show .container .box-1::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    opacity: 0.3;
    filter: blur(3px);
    background-image: url(../../image/home/background-2.jpg);
}
.content .scroll-show .container .box-1 {
    position: relative;

    display: flex;
    justify-content: center;

}
.content .scroll-show .container .box-1 .item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 710px;
    height: 200px;
}
.box-1 .item-1 .title {
    max-height: 200px;
    padding: 4px;
}
.box-1 .item-1 .title span {
    font-family: 'Silkscreen', sans-serif;
    font-size: 27px;
    color: rgb(94, 147, 255);

    margin-bottom: 10px ;
}

.box-1 .item-1 .text {
    flex: 1;
    text-align: center;

    font-family: monospace;
    font-size: 18px;

    color: white;
    max-width: 500px;
    padding: 0 5px;
    margin: 10px 20px 0 0;
}
.box-1 .item-1 .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: 80px;

}

.box-1 .item-1 .button button:nth-child(1) {
    color: white;
    
    padding: 10px;
    max-height: 50px;
    background:transparent;
    border: 2px solid rgb(49,  138, 255);
    border-radius:  0 20px 0 20px;
    outline: 0;
}
.box .item-1 .button button:nth-child(1):hover {

    background-color:rgb(49, 138, 255) ;
   
}
