* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;

    background-color: rgb(70, 70, 70);
}

.content {
    display: flex;
    flex-direction: column;

    padding: 20px;
    width: 100%;
    height: 100%;

    border: 1px solid;
    overflow: hidden;
}
h1 {
    justify-items: center;
    align-self: center;    
    color: gray;
    font-family: sans-serif;

    padding: 40px 0;
}

.hide {
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    background-color:  rgb(96, 194, 96);
    border: px solid rgb(96, 194, 96);
    border-radius: 20px;
}
.hide span {
    font-family: monospace;
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: px;
    border-radius: 20px;
}
.form-container {
    display: block;
    margin-bottom: 20px;
    background-color: rgb(69, 72, 82);

    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #8bf875;

}

.form-container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}


.form-container h2 {
    font-family: monospace;
    color: rgb(206, 206, 206);
}

.form-container .box label {
    color: white;
    font-family: sans-serif;
    padding: 2px;
    margin-bottom: 5px;
}
.form-container .box input[type="number"], input[type="text"]{
    color: gray;

    padding: 8px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgb(60, 60, 71);

    outline: 0;
    box-shadow: none;
    border: 0;
}

.form-container button {
    margin-top: 10px;
    width: 50%;

}
button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}


.container-tabel {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

#tabelStok {
    width: 100%;
    background-color: rgb(71, 71, 77);
    border-collapse: collapse;
}
#tabelStok thead {
    background-color: rgb(56, 57, 68);
    color: rgb(211, 211, 211);
}

table, th, td {
    border: 1px solid #7c7c7c;
}

th, td {
    padding: 8px;
    text-align: center;
}

#tabelStock tbody tr {
    height: 40px;
}
#tabelStok tbody tr td {
    font-size: 17px;
    font-family: monospace;
    color: rgb(170, 170, 170);
    min-width: 60px;
    height: 100%;
}

#tabelStok tbody tr td:nth-child(1){
    background-color: #484849;
}
#tabelStok tbody tr td:nth-child(2){
    background-color: rgb(59, 58, 58);
}
#tabelStok tbody tr td:nth-child(3){
    background-color: rgb(65, 65, 65);
}
#tabelStok tbody tr td:nth-child(4){
    display: flex;
    height: 100px;
    background-color: rgb(56, 56, 56);
}
#tabelStok tbody tr td:nth-child(4) .adjust-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px;
}
#tabelStok tbody tr td:nth-child(4) span {
    align-self: center;
    padding: 3px;
}



.result {
  
}
.delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #e53935;
}
.adjust-buttons button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.adjust-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.centered {
    text-align: center;
}

@media (max-width: 500px) {
    .form-container {
        align-self: center;
        width: 100%;
    }
}   
